
<div class="container mt-4 ">
    <div class="row">

    <form  [formGroup]="form" class="col-6">
    
    <div class="form-floating mb-3">
        <input formControlName="email" type="email" class="form-control" [ngClass]="{'is-invalid':isError('email')}" id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">Email</label>
      </div>
      <div class="form-floating">
        <input  formControlName="password" type="password" class="form-control " [ngClass]="{'is-invalid':isError('password')}" id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">Password</label>
      </div>
      <div class="form-check">
        <input  formControlName="checkRemember" class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label  class="form-check-label" for="flexCheckDefault">
          Recordar Email
        </label>
      </div>
      <button  type="button" [disabled]="form.invalid" (click)="login()" class="btn btn-primary mt-4">Ingresar</button>
      <div *ngIf='error' class="alert alert-danger mt-5" >
        Upss, contraseña o email invalidos!!!
      </div>
    </form>
</div>

</div>

